/* }* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box; */


/* .navbar {
    height: 10vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYZOQT2zTImkqVJK1KNj7R_sFvPkQUMEstf5Z48AuMGq7k5Xrn);
    font-size: x-large;
    display: flexbox;
    text-justify: distribute;
}

#currentForecast {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,10,54,1) 66%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 20px, 20px;
    margin: 20px, 20px;
    display: flex;
    text-justify: newspaper;
} */
